.category-picker {
    display: block;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.category {
    padding: 5px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

.selected {
    background-color: aqua;
}

.icon {
    border: 2px solid transparent;
    border-radius: 50%;
    max-width: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.description {
   
}