@import '../../../App.scss';

.mobile-transaction-edit-component {
    .category-types-section {
        display: flex;
        justify-content: space-between; 
        gap: 1px;
        button {
            width: 0;
            flex: 1 1 0px;
        }
        .active-button {
            background-color: $primary-color-light;
        }
    }

    .amount-section{
        display: grid;
        grid-template-columns: 1fr 8fr 3fr;
        align-items: center;
        height: 7em;

        span{
            font-size: 3em;
            align-self: center;
            text-align: right;
            text-overflow: ellipsis; // doesn;t work
            display: inline-block;
            overflow: hidden;
            padding: 0 5px;
        }

        .sign{
            text-align: left;
        }

        .currency{
            font-size: 2em;
        }

        .font-size-6 { font-size: 6em; }
        .font-size-4 { font-size: 4em; }
        .font-size-3 { font-size: 3em; }
        .font-size-2 { font-size: 2em; }
    }

    .account-category-section{
        display: flex;
        justify-content: space-between; 
        gap: 1px;
        button {
            width: 0;
            flex: 1 1 0px;
        }
    }
}