@import '../../../App.scss';

.mobile-transaction-edit-component {
    .buttons {
        display: flex;
        justify-content: space-between; 
        gap: 1px;
        button {
            width: 0;
            flex: 1 1 0px;
        }
    }

    .inactive {

    }
}