@import '../../../App.scss';

.mobile-transaction-list-component{
    ul {
        li {
            cursor: pointer;
            //border-left: 5px solid transparent;

            text-align: left;
            font-weight: 300;
            color: $text-color;

            span{
                margin: 1px 0 2px 5px;
            }

            div{
                width: 100%;
                display: flex;
                justify-content: space-between;

                .main-text{
                    font-size: larger;
                    font-weight: 600;
                    text-transform: uppercase;
                    align-self: center;
                }

                .green-text{ color: $green-text-color; }
                .red-text{ color: $red-text-color; }
                .yellow-text{ color: $yellow-text-color; }
            }
        }
    }
}