@import '../../App.scss';

$item-size: $form-control-default-h*1.3;

.transaction-list-component{ 
    background-color: $primary-color-light;

    ul {
        list-style: none;
        color: $text-color;
        background-color: $primary-color;

        li {
            padding: calc($item-size/8);
            border-bottom: 1px black solid;
            cursor: pointer;

            &:active {
                background-color: $primary-color-dark;
            }

            a {
                text-align: left;
                font-weight: 300;
                color: $text-color;
                text-decoration: none;
                box-sizing: border-box;

                span{
                    margin: 1px 0 2px 5px;
                }

                .related-details{
                    .icon {
                        background-color: black;
                        width: 12px;
                        height: 12px;
                        border-radius: 100%;
                        margin-right: 6px;
                        border-width: 0;
                    }
                }
                
                .main-details{
                    span {
                        font-size: larger;
                        font-weight: 600;
                        text-transform: uppercase;
                        align-self: center;
                    }
                }

                div{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .small-font{
                        font-size: medium;
                    }
                }
            }
        }
    }
}