@import '../../App.scss';

.calculator-component {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: $form-control-default-h 1fr;
    grid-template-areas: 
        "display display"
        "buttons-left buttons-right";

    span {
        grid-area: display;
        text-align: center;
        line-height: $form-control-default-h;
        background-color: $primary-color-light;
        color: $text-color;
    }

    .numeric-buttons{
        grid-area: buttons-left;

        button {
            display: inline-block;
            width: 33.33%;
            height: 25%;
        }
    }

    .math-buttons{
        grid-area: buttons-right;

        button {
            display: block;
            height: 20%;
            background-color: $primary-color-light;
            border-left: 1px solid $primary-color-dark;
        }
    }
}