@import '../../App.scss';

$item-size: $form-control-default-h*1.3;

.item-picker{ 
    padding-bottom: $item-size;
    background-color: $primary-color-light;
    overflow-y: scroll;

    ul {
        list-style: none;
        color: $text-color;
        background-color: $primary-color;

        li {   
            height: $item-size;
            display: grid;
            grid-template-columns: $item-size 1fr $item-size;
            grid-template-rows: 1fr;
            border-bottom: 1px solid $primary-color-dark;
            cursor: pointer;

            &:active {
                background-color: $primary-color-dark;
            }

            img {
                grid-column: 1;
                height: calc($item-size*0.7);
                align-self: center;
                justify-self: center;
            }

            span {
                grid-column: 2;
                text-align: left;
                font-weight: 300;
                line-height: $item-size;
                padding-left: calc($item-size/6);
            }

            .children-indicator {
                grid-column: 3;
                font-size: large;
                font-weight: 500;
            }
        }
    }

    button {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}