.item-picker{
    box-sizing: border-box;
    border: 1px red solid;
    height: 100%;
}

.item-list {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid blue;
    padding: 0;
}

.item {
    box-sizing: border-box;
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;
}

.item:active{
    background-color: lightgray;
}

.icon {
    grid-column: 1fr;
    max-width: 60px;
    padding: 10px;
    box-sizing: border-box;
}

.description {
   grid-column: 5fr;
}

.childrenButton {
    grid-column: 1fr;
}

.hidden {
    display: none;
}

.item-picker button {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    min-height: 60px;
    width: 100%;
}