@import '../../App.scss';

.modal {
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: $primary-color-light;
}

.buttons {
    border-bottom: 2px solid $primary-color;

    button {
        width: 50%;
        border-bottom: 2px solid $primary-color-light;
    }

    .inactive{
        background-color: $primary-color-light;
    }

}