@import '../../App.scss';

.modal {
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $primary-color-light;
}

.transaction-edit-component {
    .buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1px;

        button {
            width: 49%;
        }
    }

    .inactive {

    }
}