@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

html { margin: 0; padding: 0; }
body {
  font-family: "Inter",sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh; /* to do : for mobile */
  box-sizing: border-box;
  border: 4px violet solid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
